<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- start: CSS -->
    <link href="/Scripts/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Scripts/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/Scripts/css/style.min.css" rel="stylesheet" />
    <link href="/Scripts/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/Scripts/css/retina.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.jqueryui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.5/css/scroller.jqueryui.min.css" />
    <!-- end: CSS -->
</head>
<body>

    <!-- start: Header -->
    @Html.Partial("~/Views/Shared/Header/_HeaderLayout.cshtml");
    <!-- end: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            @Html.Partial("~/Views/Shared/Menu/_MenuLayout.cshtml");
            <!-- end: Main Menu -->
            <!-- start: Content -->
            @RenderBody()
            <!-- end: Content -->

        </div>
        <!--/fluid-row-->

    </div>
    <!--/.fluid-container-->
    <!-- start: JavaScript-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.jqueryui.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <!-- mark
    <script src="/Scripts/js/jquery-1.10.2.min.js"></script>
    <script src='/Scripts/js/jquery.dataTables.min.js'></script>
    <script src="/Scripts/js/bootstrap-select.js"></script>
    <script src="/Scripts/js/bootstrap-select.min.js"></script>
    <script src="/Scripts/js/bootstrap-datetimepicker.min.js"></script>
    mark-->
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/Scripts/js/jquery.ui.touch-punch.js"></script>
    <script src="/Scripts/js/modernizr.js"></script>
    <script src="/Scripts/js/bootstrap.min.js"></script>
    <script src="/Scripts/js/jquery.cookie.js"></script>
    <script src='/Scripts/js/fullcalendar.min.js'></script>
    <script src="/Scripts/js/excanvas.js"></script>
    <script src="/Scripts/js/jquery.flot.js"></script>
    <script src="/Scripts/js/jquery.flot.pie.js"></script>
    <script src="/Scripts/js/jquery.flot.stack.js"></script>
    <script src="/Scripts/js/jquery.flot.resize.min.js"></script>
    <script src="/Scripts/js/jquery.flot.time.js"></script>
    <script src="/Scripts/js/jquery.chosen.min.js"></script>
    <script src="/Scripts/js/jquery.uniform.min.js"></script>
    <script src="/Scripts/js/jquery.cleditor.min.js"></script>
    <script src="/Scripts/js/jquery.noty.js"></script>
    <script src="/Scripts/js/jquery.elfinder.min.js"></script>
    <script src="/Scripts/js/jquery.raty.min.js"></script>
    <script src="/Scripts/js/jquery.iphone.toggle.js"></script>
    <script src="/Scripts/js/jquery.uploadify-3.1.min.js"></script>
    <script src="/Scripts/js/jquery.gritter.min.js"></script>
    <script src="/Scripts/js/jquery.imagesloaded.js"></script>
    <script src="/Scripts/js/jquery.masonry.min.js"></script>
    <script src="/Scripts/js/jquery.knob.modified.js"></script>
    <script src="/Scripts/js/jquery.sparkline.min.js"></script>
    <script src="/Scripts/js/counter.min.js"></script>
    <script src="/Scripts/js/raphael.2.1.0.min.js"></script>
    <script src="/Scripts/js/justgage.1.0.1.min.js"></script>
    <script src="/Scripts/js/jquery.autosize.min.js"></script>
    <script src="/Scripts/js/retina.js"></script>
    <script src="/Scripts/js/jquery.placeholder.min.js"></script>
    <script src="/Scripts/js/wizard.min.js"></script>
    <script src="/Scripts/js/core.min.js"></script>
    <script src="/Scripts/js/charts.min.js"></script>
    <script src="/Scripts/js/custom.min.js"></script>
</body>
</html>