<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Styles -->
    <link href="/Scripts/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="/Scripts/auth.css">
    <title>尚騰旅行社</title>
</head>
<body>
    <!-- Contents -->
    <div class="lowin lowin-blue">
        <div class="lowin-brand">
            <img src="/Scripts/img/logo_icon.png" alt="logo">
        </div>
        <div class="lowin-wrapper">
            <div class="lowin-box lowin-login">
                <div class="lowin-box-inner">
                    <form>
                        <p>尚騰旅行社管理後台</p>
                        <div class="lowin-group">
                            <label>Username</label>
                            <input id="username" type="text" name="username" autocomplete="username" class="lowin-input">
                        </div>
                        <div class="lowin-group password-group">
                            <label>Password</label>
                            <input id="password" type="password" name="password" autocomplete="current-password" class="lowin-input">
                        </div>
                        <button class="lowin-btn login-btn">
                            Sign In
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/jquery-3.6.0.js"></script>
    <script src="/Scripts/bootstrap.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".lowin-btn").click(function () {
                var username = $("#username").val();
                var password = $("#password").val();
                $.ajax({
                    url: "@Url.Action("login","Login")",
                    data: JSON.stringify({ username: username, password: password }),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (data) {
                        if (data.message == null) {
                            localStorage.setItem("loginInfo", JSON.stringify(data.data));
                            var loginInfo = JSON.parse(localStorage.getItem('loginInfo'));
                            var url = '@Url.Action("Index", "Member")';
                            window.location.href = url;
                        } else {
                           alert(data.message);
                        }
                    }
                })
            })
        });
    </script>
</body>
</html>
